/* colors */
$bg-light: #F2F4FA; 
$white: #fff;
$xtra-dark: #3B4B5E;
$dark: #5E6E80;
$med: #808080;
$light: #EBF0F2;
$primary: #304CFD;
$black: #000;
$danger: #d9534f;

/* fonts */
$poppins: 'Poppins', Arial, sans-serif;