@import "../utils/mixins";

#about {
    .btn {
        width: 12em;
        margin-top: 1.5rem;
    }
    @include media-query-grow(768px) {
        p:nth-child(2) {
            margin-bottom: 0;
        }
        p:nth-child(3) {
            margin-top: 0;
        }
    }
}