@import "../utils/variables";
@import "../utils/mixins";

/* resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    color: #000000;
}
html {
    overflow: auto;
}
body {
    overflow: hidden;
}
li {
    list-style: none;
  }
a {
    text-decoration: none;
}

/* global */
.flex {
    display: flex;
}
.flex-row {
    flex-direction: row;
}
.flex-column {
    flex-direction: column;
}
.flex-between {
    justify-content: space-between;
}
.flex-center {
    justify-content: center;
}
.flex-around {
    justify-content: space-around;
}
.flex-even {
    justify-content: space-evenly;
}
.flex-wrap {
    flex-wrap: wrap;
}
.align-center {
    align-items: center;
}
.w-100 {
   width: 100%; 
}
.center-x {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.center-y {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.tint {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba($color: #000000, $alpha: 0.5)
}
img {
    width: 100%;
}
.cursor:hover {
    cursor: pointer;
}
.block {
    display: block;
}
.inline-block {
    display: inline-block;
}
.relative {
    position: relative;
}
.absolute {
    position: absolute;
}
.fixed {
    position: fixed;
}
.y-scroll {
    overflow-y: scroll;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
.uppercase {
    text-transform: uppercase;
}

/* global to application */
body {
    background: $bg-light;
    font-family: $poppins;
    .bg-cover {
        height: 19.75rem;
        background: url("../../../dist/images/image_header.jpg") 50% 50%;
        background-size: cover;
        background-repeat: no-repeat;
    }
    main {
        top: 120px;
        @include container(small);
        .card + .card {
            margin-top: 1rem;
        }
        .card {
            background: $white;
            padding: 1rem;
            border-radius: 20px;
            .title {
                color: $xtra-dark;
                font-size: 1.75rem;
                &::after {
                    content: "";
                    display: block;
                    background: $primary;
                    width: 3rem;
                    height: 3px;
                }
            }
            .text {
                color: $dark;
                font-size: 14px;
            }
            p {
                margin: 1rem 0;
            }
            .btn {
                font-size: 14px;
                display: block;
                text-align: center;
                background: $primary;
                color: $white;
                padding: 0.5rem 1rem;
                border-radius: 10px;
                transition: 0.25s ease all;
                &:hover {
                    cursor: pointer;
                    opacity: 0.85;
                }
            }
        }
    }
}