.modal {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba($color: #000000, $alpha: 0.5);
    z-index: 1;
    .modal-wrap {
        height: 100%;
        .modal-content {
            animation-name: appear-down;
            animation-duration: 0.5s;
            width: 90%;
            height: 350px;
            border-radius: 14px;
            @include media-query-grow(1024px) {
                width: 50%;
                height: 450px;
            }
            @include media-query-grow(1440px) {
                width: 720px;
                height: 500px;
            }
            .modal-img {
                background: $black;
                border-radius: inherit;
                height: 100%;
                .modal-title {
                    z-index: 1;
                    color: $white;
                    padding: 0.5rem 1rem;
                    text-shadow: 3px 3px 14px rgba(0, 0, 0, 1);
                }
                img {
                    height: 100%;
                    object-fit: cover;
                    border-radius: inherit;
                    opacity: 0.8;
                }
            }
            .close {
                background: $danger;
                width: 1.5rem;
                height: 1.5rem;
                border-radius: 50%;
                left: 96%;
                top: 12px;
                border: none;
                z-index: 1;
                @include media-query-grow(768px) {
                    left: 98%;
                    &:hover {
                        background: #c94a47;
                    }
                }
                @include media-query-grow(1024px) {
                    &:hover {
                        background: #c94a47;
                    }
                }
                i {
                    font-size: 0.9rem;
                    color: $white;
                }
            }
            .modal-info {
                background: $white;
                left: 0;
                right: 0;
                bottom: -25px;
                top: 60%;
                border-bottom-left-radius: inherit;
                border-bottom-right-radius: inherit;
                padding: 1rem;
                font-size: 14px;
                @include media-query-grow(768px) {
                    padding: 2rem;
                }
                .tech-stack {
                    font-size: 12px;
                    color: $med;
                }
                .btn + .btn {
                    margin-left: 0.5rem;
                }
            }
        }
    }
}

@keyframes appear-down {
    0% {top: 40%; opacity: 0;}
    100% {top: 50%; opacity: 1;}
}